node_modules
package-lock.json
config.json
__pycache__
python/hangman/data/*
!python/hangman/data/.gitkeep
.DS_Store
.vscode
state.json
logs/*
!logs/.gitkeep
python/cogs/*.settings
python/cogs/*.history
python/questions.txt
last_graph.png
id_mapping.json
api_secrets_file
venv/*
