{
    "bot_key": "",
    "giphy_key": "",
    "yt_key": "",
    "emkc_key": "",
    "wolfram_key" : "",
    "jail_roles": [
        123123123123123
    ],
    "superusers": [
        123123123123123
    ],
    "admin_roles": [
        123123123123123
    ]
}
