{
    "token":"YOUR GITHUB TOKEN HERE",
    "repositories":[
        "user1/repo1",
        "user2/repo2"
    ],
    "targets": [
        [SERVER_1_ID, CHANNEL_ON_SERVER_1_ID],
        [SERVER_2_ID, CHANNEL_ON_SERVER_2_ID]
    ]
    "frequency":900,
}
